{% extends("commons/_layout.html.twig") %}
{% block stylesheet_page %}
    <link href="{{ asset('css/admin/edit-products.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block vue %}
    <table>
        <tr>
            <th>ID</th>
            <th>Label</th>
            <th>Prix</th>
            <th>Quantité</th>
            <th> </th>
        </tr>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td><a href="{{ path('admin_editProductID', {id: product.id}) }}">{{ product.label }}</a></td>
                <td>{{ product.price }}</td>
                <td>{{ product.quantity }}</td>
                <td><a href="{{ path('admin_deleteProduct', {'id' : product.id}) }}">Supprimer</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}