{% extends("commons/_layout.html.twig") %}
{% block title %}Liste du panier{% endblock %}
{% block vue %}
    {% set totalPrice = 0 %}
    {% set totalQuantity = 0 %}
    <table>
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prix u.</th>
            <th>Quantité</th>
            <th>Prix total</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.product.label }}</td>
                <td>{{ order.product.price }}</td>
                <td>{{ order.quantity }}</td>
                <td>{{ (order.quantity * order.product.price) }}</td>
                <td><a href="{{ path('product_deleteOrder', {'userId' : order.client.id, 'orderId' : order.id}) }}">Supprimer</a></td>
            </tr>
            {% set totalPrice = (order.quantity * order.product.price) + totalPrice %}
            {% set totalQuantity = order.product.quantity + totalQuantity %}
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td>Total</td>
            <td></td>
            <td>{{ totalQuantity }}</td>
            <td>{{ totalPrice }}</td>
            <td></td>
        </tr>
        <tr>
            <td colspan="3"></td>
            <td><a href="{{ path('product_buyOrders') }}">Acheter</a></td>
            <td><a href="{{ path('product_emptyOrders') }}">Vider</a></td>
        </tr>
        </tfoot>
    </table>
{% endblock %}