{% extends("commons/_layout.html.twig") %}
{% block stylesheet_page %}
   <link href="{{ asset('css/admin/product-list.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block vue %}
   <h2>Liste des bières disponibles dans notre magasin</h2>
   <form action="{{ path('product_productList') }}" method="post">
      <table>
         <tr>
            <th>Label</th>
            <th>Prix</th>
            <th>Stock</th>
            <th>Choix</th>
         </tr>
         {% for order in orders %}
         <tr>
            <td>{{ order.product.label }}</td>
            <td>{{ order.product.price }}</td>
            <td>{{ order.product.quantity }}</td>
            <td>
               {% if order.product.quantity > 0 %}
               <label>
                  <select name="{{ order.product.id }}">
                     {% for i in 0..(order.product.quantity) %}
                        <option value="{{ i }}">{{ i }}</option>
                     {% endfor %}
                  </select>
               </label>
               {% endif %}
            </td>
         </tr>
         {% endfor %}
      </table>
      <input type="submit" value="Commander">
   </form>

   <form action="{{ path('product_mail') }}" method="post">
      <h3>Recevez un mail avec le nombre de produit en stock!</h3>
      <label> Adresse Mail
         <input type="email" name="mail">
      </label>
      <input type="submit" value="Valider">
   </form>
{% endblock %}